.vscode
.DS_Store
.vault
.cache
.env
__pycache__
env
gum
pid
logs
bkp
bat
bin
dependencies

**/*.pid
**/*.log
**/*.out
**/*.csv
**/*.tmp
**/*.tar.gz.*
**/*.tar.gz
**/*.env
*.preview
*.code-workspace

infra/artifacts
infra/build/formula/out